@model mmc.Modelos.ContabilidadModels.AF_Activos_Fijos

@{
    ViewData["Title"] = "Buscar Activo";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout_Menu_lateral.cshtml";
    //ViewBag.foto
}
<br />
<div class="container text-center">


    <div class="row">
        <div class="col-md-2">
            .
        </div>
        <div class="col-sm-7">
            <div class="card">
                <div class="card-header">
                    Ingrese el código que desea buscar
                </div>
                <div class="card-body">
                    <form asp-action="ActivosFIjosFoto" asp-controller="ActivosFijos" method="get">
@*
                        <div class="form-group">
                            <label class="text-muted">Buscar Codigo</label>
                            <input type="text" name="ArtCod" id="fIni" />
                        </div>*@

                        <div class="form-group">
                            <label asp-for="CODIGOACTIVO" class="control-label"></label>
                            <input asp-for="CODIGOACTIVO" class="form-control" placeholder="Ingrese el código de activo fijo para realizar la búsqueda" />
                            <span asp-validation-for="CODIGOACTIVO" class="text-danger"></span>
                        </div>

                        <button class="btn btn-primary" type="submit">Buscar</button>

                        @*<input type="submit" name="Export" value="Descargar Excel" class="btn btn-success" asp-action="DescargaExcel" />*@
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="h5">
        <label class="text-danger">
            @ViewBag.error
        </label>
    </div>

</div>

<br />
<hr />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}