@model mmc.Modelos.ViewModels.IglesiaVM.Ceb_DetVM

@{
    Layout = "~/Views/Shared/_Layout_Menu_lateral.cshtml";
    var titulo = "Crear nuevo registro";
}

<form method="post">
    <div class="row p-3 border-0">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    @if (Model.CasaEstudioDet.Id != null)
    {
        // Actualizar
        titulo = "Actualizar Registro";
    }

    <div class="col-12 border-bottom">
        <h2 class="text-primary">@titulo</h2>
    </div>

    <div class="col-12 pt-4">

        <div class="form-group row">
            <div class="col-4">
                Id Casa de Estudio Biblico 
            </div>
            <div class="col-8">
                @Html.DropDownListFor(c => c.CasaEstudioDet.CEBid, Model.Cabeceraid,
                new { @class = "form-control" })
                <span asp-validation-for="CasaEstudioDet.CEBid" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CasaEstudioDet.FechaCEB"></label>
            </div>
            <div class="col-8">
                <input asp-for="CasaEstudioDet.FechaCEB" class="form-control" />
                <span asp-validation-for="CasaEstudioDet.FechaCEB" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CasaEstudioDet.Cristianos"></label>
            </div>
            <div class="col-8">
                <input asp-for="CasaEstudioDet.Cristianos" class="form-control" />
                <span asp-validation-for="CasaEstudioDet.Cristianos" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CasaEstudioDet.NoCistianos"></label>
            </div>
            <div class="col-8">
                <input asp-for="CasaEstudioDet.NoCistianos" class="form-control" />
                <span asp-validation-for="CasaEstudioDet.NoCistianos" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CasaEstudioDet.Ninios"></label>
            </div>
            <div class="col-8">
                <input asp-for="CasaEstudioDet.Ninios" class="form-control" />
                <span asp-validation-for="CasaEstudioDet.Ninios" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CasaEstudioDet.Convertidos"></label>
            </div>
            <div class="col-8">
                <input asp-for="CasaEstudioDet.Convertidos" class="form-control" />
                <span asp-validation-for="CasaEstudioDet.Convertidos" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CasaEstudioDet.Reconcilia"></label>
            </div>
            <div class="col-8">
                <input asp-for="CasaEstudioDet.Reconcilia" class="form-control" />
                <span asp-validation-for="CasaEstudioDet.Reconcilia" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CasaEstudioDet.Ofrenda"></label>
            </div>
            <div class="col-8">
                <input asp-for="CasaEstudioDet.Ofrenda" class="form-control" />
                <span asp-validation-for="CasaEstudioDet.Ofrenda" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8 offset-4">
                @if (Model.CasaEstudioDet.Id != null)
                    {
                        <partial name="_BotonesActualizarYRegresar" model="Model.CasaEstudioDet.Id" />
                    }
                else
                    {
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control">Crear</button>
                        </div>
                        <div class="col">
                            <a href="/Iglesia/CEBRegiones/LiderdeCEB/@ViewBag.id" class="btn btn-danger text-white" style="cursor:pointer">
                               Cancelar <i class="fa-sharp fa-solid fa-rotate-left"></i>
                            </a>
                        </div>
                    </div>
                    }
            </div>
        </div>

    </div>

</form>

<br>
<hr>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

