@{
    ViewData["Title"] = "Genera Excel";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout_Menu_lateral.cshtml";
    //ViewBag.foto
}

<div class="container text-center">


    <div class="row mt-5">
        <div class="col-md-3">
            .
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Inventario Fisico
                </div>
                <div class="card-body">
                    <form asp-action="printExcel" asp-controller="PrintExcel" method="post">

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="form-group">

                                    <select class="form-select form-control" id="cbEmpresa">
                                        <option value="EMPCOD">Seleccione la Empresa</option>
                                    </select>
                                </div>

                                <div class="from-control">

                                    <select class="form-select form-control" id="cbBodega">
                                        <option value="TIECOD">Seleccione la Bodega</option>
                                    </select>
                                </div>                               
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-6">
                                <input class="form-control" type="date" name="INVFISFCH" id="INVFISFCH" pattern="\d{4}-\d{2}-\d{2}" required />
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" name="HORA" id="HORA" placeholder="Formato de hora 12:00:00" />
                                <span id="errorHora" style="color: red;"></span>
                            </div>
                        </div>
                        @* <button type="button" id="btnEnviar" class="btn btn-success mt-3">Generar Excel<i class="fa-solid fa-file-excel"></i></button> *@
                        <button type="button" id="btnEnviar" class="btn btn-success mt-3" disabled>Generar Excel<i class="fa-solid fa-file-excel"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script>
        // Evento que inicializa el DOM de la Pagina ***************************************************************************************************
        document.addEventListener("DOMContentLoaded", function () {
            // Obtener referencias a los elementos del DOM
            var cbEmpresa = document.getElementById("cbEmpresa");
            var cbBodega = document.getElementById("cbBodega");
            var btnEnviar = document.getElementById("btnEnviar");
            var INVFISFCH = document.getElementById("INVFISFCH");
            var HORA = document.getElementById("HORA");

            // Evento cuando se selecciona una empresa
            cbEmpresa.addEventListener("change", function () {
                var empresaSeleccionada = cbEmpresa.value;
            });

            // Evento cuando se selecciona una bodega
            cbBodega.addEventListener("change", function () {
                var bodegaSeleccionada = cbBodega.value;
            });

            // Evento cuando se hace clic en el botón de enviar selección
            btnEnviar.addEventListener("click", function () {
                var empresaSeleccionada = cbEmpresa.value;
                var bodegaSeleccionada = cbBodega.value;
                var fechaSeleccionada = INVFISFCH.value;
                var horaSeleccionada = HORA.value;

                // Crear un formulario para enviar los valores seleccionados al controlador mediante POST
                var form = document.createElement("form");
                form.action = "/Contabilidad/Inventario/InventarioFisico"; // Ruta del controlador que genera el archivo Excel
                form.method = "POST";

                // Agregar los valores seleccionados como campos ocultos al formulario
                var empresaInput = document.createElement("input");
                empresaInput.type = "hidden";
                empresaInput.name = "EMPCOD";
                empresaInput.value = empresaSeleccionada;
                form.appendChild(empresaInput);

                var bodegaInput = document.createElement("input");
                bodegaInput.type = "hidden";
                bodegaInput.name = "TIECOD";
                bodegaInput.value = bodegaSeleccionada;
                form.appendChild(bodegaInput);

                var fechaInput = document.createElement("input");
                fechaInput.type = "hidden";
                fechaInput.name = "INVFISFCH";
                fechaInput.value = fechaSeleccionada;
                form.appendChild(fechaInput);

                var horaInput = document.createElement("input");
                horaInput.type = "hidden";
                horaInput.name = "HORA";
                horaInput.value = horaSeleccionada;
                form.appendChild(horaInput);

                // Agregar el formulario al cuerpo del documento y enviarlo
                document.body.appendChild(form);
                form.submit();
            });

            MostrarEmpresa();
        }, false);


        ////////////////METODO PARA DROPDOWN LIST //////////////***************************************************************************************************
        var varempresa = document.getElementById("cbEmpresa");
        var varbodega = document.getElementById("cbBodega")
        ///////////////FUNCION PARA COMBO BOX EN CASCADA /////////////////////***************************************************************************************************
        varempresa.addEventListener("change", function () {
            var selectedEmpresa = varempresa.value;
            varbodega.innerHTML = "";
            var url = "/Contabilidad/Inventario/ListaBodegabyId?empcod=" + selectedEmpresa;
            MostrarModelostest(url);
        });

        // Devuelve una lista de Marcas ***************************************************************************************************
        function MostrarEmpresa() {
            fetch("/Contabilidad/Inventario/ListaEmpresa")
                .then(response => {
                    return response.ok ? response.json() : Promise.reject(response)
                })
                .then(responseJson => {

                    if (responseJson.length > 0) {
                        responseJson.forEach((item) => {

                            $("#cbEmpresa").append(
                                $("<option>").val(item.empcod).text(item.empnom)
                            )

                        })
                    }

                })
        }

        //devuelve una lista de Bodegas ***************************************************************************************************
        function MostrarModelostest(url) {
            //console.log(url)
            fetch(url)
                .then(response => {
                    return response.ok ? response.json() : Promise.reject(response)
                })
                .then(responseJson => {

                    if (responseJson.length > 0) {
                        responseJson.forEach((item) => {

                            $("#cbBodega").append(
                                $("<option>").val(item.tienda).text(item.tienda + " - " + item.nombre)
                            )

                        })
                    }

                })
        }

    </script>

    <script>
        function validarHora() {
            var inputHora = document.getElementById('HORA').value;
            var regexHora = /^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/;

            if (regexHora.test(inputHora)) {
                document.getElementById('errorHora').innerHTML = '';
                document.getElementById('btnEnviar').disabled = false; // Habilitar el botón
                return true;
            } else {
                document.getElementById('errorHora').innerHTML = 'Formato de hora no válido';
                document.getElementById('btnEnviar').disabled = true; // Deshabilitar el botón
                return false;
            }
        }

        document.getElementById('HORA').addEventListener('change', validarHora);

    </script>

}
