@model IEnumerable<mmc.Modelos.IglesiaModels.lafamiliadedios.IglesiaDepartamentos>

@{
    ViewData["Title"] = "Departamentos Iglesia";
    Layout = "~/Views/Shared/_Layout_Menu_lateral.cshtml";
}


<p>
    <a class="btn btn-primary" asp-action="Create">Agregar Departamento</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-controller="IglesiaServidores" asp-action="Servidores" asp-route-id="@item.Id">Servidores</a>
                </td>
            </tr>
        }
    </tbody>
</table>
