@model mmc.Modelos.estado
@{
    ViewData["Title"] = "tituloxd";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var titulo = "Crear un estado";
}

<form method="post">
    <div class="row p-3 border-0">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>

    @if (Model.Id != 0)
    {
        //si el modelo trae algun Id entonces se trata de un Update
        titulo = "Actualizar la tabla de estados";
    }

    <div class="col-12 border-bottom">
        <h2 class="text-primary">@titulo</h2>
    </div>

    <div class="col-8 pt-4">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="est_descripcion"></label>
            </div>
            <div class="col-8">
                <input asp-for="est_descripcion" class="form-control" />
                <span asp-validation-for="est_descripcion" class="text-danger"></span>
            </div>
        </div>
        @*
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="est_est"></label>
            </div>
            <div class="col-8">
                <input asp-for="est_est" class="form-control" />
                <span asp-validation-for="est_est" class="text-danger"></span>
            </div>
        </div>
        *@
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="est_fchalt"></label>
            </div>
            <div class="col-8">
                <input asp-for="est_fchalt" class="form-control" />
                <span asp-validation-for="est_fchalt" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="est_usu_alt"></label>
            </div>
            <div class="col-8">
                <input asp-for="est_usu_alt" class="form-control" />
                <span asp-validation-for="est_usu_alt" class="text-danger"></span>
            </div>
        </div>

        <hr /><br />

        <div class="form-group row">
            <div class="col-8 offset-4">
                @if (Model.Id != 0)
                {
                    <partial name="_BotonesActualizarYRegresar" model="Model.Id" />
                }
                else
                {
                    <partial name="_BotonesCrearYRegresar" />
                }
            </div>
        </div>

    </div>

</form>

@*ESTA VISTA PARCIAL SIRVE PARA VALIDAR CON JS LOS ERRORES*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
