@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2 class="text-center">Graficas Iglesia de Jesucristo la Familia de Dios</h2>

<div id="container"></div>
<hr />
<div id="barras"></div>
<br />
<br />
<br />
@section Scripts {
    @{
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

        <script>
            var urlBase = 'https://' + '@Context.Request.Host' + '@Context.Request.Path'
        </script>

        <script src="~/js/Graficas/GraficaPastel.js"></script>
        <script src="~/js/Graficas/GraficaBarras.js"></script>


    }
}

