
<h2 class="text-center">Graficas Iglesia de Jesucristo la Familia de Dios</h2>

<div class="row">
    <div class="col-md-6">
        <div id="Pastel"></div>
    </div>

    <div class="col-md-6">
        <div id="PastelDia"></div>
    </div>
</div>
<hr />
<div id="barras"></div>
<br />
<br />

@*<div id="test"></div>*@

<br />
@section Scripts {

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

        <script>
            var urlBase = 'https://' + '@Context.Request.Host' + '@Context.Request.Path'
        </script>
    <script src="~/js/Graficas/GraficaPastel.js"></script>
    <script src="~/js/Graficas/GraficaBarras.js"></script>
    <script src="~/js/Graficas/GraficaPastelDias.js"></script>

    <script src="~/js/graficas/test.js"></script>
}

