@using mmc.Utilidades
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Iglesia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                
                <img src="~/imagenes/logos/logo_iglesia_web.png" height="25" width="25" />
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i> Inicio</a>
                        </li>
                        @*Menu de Iglesia*@
                        @if (User.IsInRole(DS.Role_Admin) || User.IsInRole(DS.Role_Iglesia) || User.IsInRole(DS.Role_RegionesIglesia))
                        {
                            <li class="nav-item dropdown bg-primary">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-church"></i> Iglesia
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <a class="dropdown-item" asp-area="Iglesia" asp-controller="RegionesCEB" asp-action="Index">Regiones</a>

                                    @if (User.IsInRole(DS.Role_Admin) || User.IsInRole(DS.Role_Iglesia))
                                    {
                                        <a class="dropdown-item" asp-area="Iglesia" asp-controller="PrivilegioCEB" asp-action="Index">Privilegios</a>
                                        <a class="dropdown-item" asp-area="Iglesia" asp-controller="TipoCEB" asp-action="Index">Tipos</a>
                                        <a class="dropdown-item" asp-area="Iglesia" asp-controller="MiembrosCEB" asp-action="Index">Lideres</a>
                                        <a class="dropdown-item" asp-area="Iglesia" asp-controller="MiembrosCEB" asp-action="Regionales">Regionales</a>
                                    }


                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Reportes(Proximamente)</a>
                                </div>
                            </li>
                        }
                        @*Menu de Bodega*@
                        @if (User.IsInRole(DS.Role_Admin) || (User.IsInRole(DS.Role_Bodega)))
                        {
                            <li class="nav-item dropdown bg-primary">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-warehouse"></i> Bodega
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Bodega" asp-controller="PrintExcel" asp-action="Index">Generar Excel</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                        }
                        @*Menu de contabilidad*@
                        @if (User.IsInRole(DS.Role_Admin) || (User.IsInRole(DS.Role_Contabilidad)))
                        {
                            <li class="nav-item dropdown bg-primary">
                                <a class="nav-link dropdown-toggle text-white" asp-area="Contabilidad" asp-controller="ActivosFijos" asp-action="ActivosConFoto" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa-solid fa-list-ol"></i> Contabilidad
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Contabilidad" asp-controller="Contabilidad" asp-action="Index"><i class="fa-solid fa-file-arrow-down"></i> Diario por Motivo</a>
                                    <a class="dropdown-item" asp-area="Contabilidad" asp-controller="ActivosFijos" asp-action="Index"><i class="fa-solid fa-truck-ramp-box"></i> Activos Fijos</a>
                                    <a class="dropdown-item" asp-area="Contabilidad" asp-controller="ActivosFijos" asp-action="ActivosConFoto"><i class="fa-regular fa-image"></i> Activos Fijos con foto</a>
                                    <a class="dropdown-item" asp-area="Contabilidad" asp-controller="Cheques" asp-action="Index">Cheques</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(DS.Role_Admin) || User.IsInRole(DS.Role_Cliente))
                        {
                            <li class="nav-item dropdown bg-primary">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-building-circle-xmark"></i> Soluciones
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Estados" asp-action="Index">Estados</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Bodega" asp-action="Index">Bodega</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Categoria" asp-action="Index">Categoria</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Marca" asp-action="Index">Marcas</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Producto" asp-action="Index">Productos</a>
                                    <a class="dropdown-item" href="#">Ticket</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Division</a>
                                </div>
                            </li>

                        }
                        @*usuarios*@
                        @if (User.IsInRole(DS.Role_Admin))
                        {
                            <li class="nav-item dropdown bg-primary">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-users-gear"></i>  Usuarios
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Usuario" asp-action="Index">Usuarios</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Usuario" asp-action="Roles">Roles</a>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole(DS.Role_Admin) || User.IsInRole(DS.Role_Ticket))
                        {
                            <li class="nav-item dropdown bg-primary">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-mobile-retro"></i> HelpDesk
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="HelpDesk" asp-controller="Tickets" asp-action="Index">Tickets</a>
                                </div>
                            </li>
                        }
                        @*GRAFICAS*@
                        @if (User.IsInRole(DS.Role_Admin) || User.IsInRole(DS.Role_Iglesia) || User.IsInRole(DS.Role_RegionesIglesia))
                        {
                            <li class="nav-item dropdown bg-primary">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-chart-area"></i>  Graficas
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Graficas" asp-controller="DashBoard" asp-action="Index">Grafica</a>
                                </div>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container bg-light">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-primary text-white-50">
        <div class="container">
            &copy; 2022 - Igesia de Jesucristo la Familia de Dios.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
