@using Microsoft.AspNetCore.Identity
@using mmc.AccesoDatos.Data
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        <div class="row">
            <div class="col-md-7">
                <a style="color: #fce55c;"
                   class="nav-link" 
                    asp-area="Identity" 
                    asp-page="/Account/Manage/Index" 
                    title="Manage">@User.Identity.Name</a>

            </div>

            <div class="col-md-5">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Inicio", new { area = "Admin" })">
                    <button style="color: #fce55c;" type="submit" class="nav-link btn btn-link">Salir</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <a style="color: #fce55c;" class="nav-link" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a>
    }

