@model mmc.Utilidades.DataPaginador<mmc.Modelos.ContabilidadModels.AF_Activos_Fijos>

@{
    ViewData["Title"] = "Activos Fijos";
    Layout = "~/Views/Shared/_Layout_Menu_lateral.cshtml";
}

@if (Model != null && Model.Lista.Count > 0)
{
    <table class="table mt-5 mb-5 table-bordered">
        <thead>
            <tr>
                <th>Id Conta</th>
                <th>Descripción</th>
                <th>Modelo</th>
                <th>Precio</th>
                <th>Foto</th>
                <!-- Agrega más columnas según tus necesidades -->
            </tr>
        </thead>
        <tbody>
            @foreach (var activoFijo in Model.Lista)
            {
                <tr>
                    <td>@activoFijo.CODIGOACTIVO</td>
                    <td>@activoFijo.ACFIDSC</td>
                    <td>@activoFijo.MODELO</td>
                    <td>Q.@activoFijo.ACFIMONLOC</td>
                    <td><img src="@activoFijo.ACFIFOTO" width="100"/></td>
                    <!-- Agrega más columnas según tus necesidades -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br /><br />
    <p class="h2 text-center mt-5 mb-5">No se encontraron activos fijos.</p>
}


