@using mmc.Utilidades;
@model mmc.Modelos.TicketModels.Ticket

@{
    ViewData["Title"] = "Crear Ticket";
    Layout = "~/Views/Shared/_Layout_Menu_lateral.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@

           @if (User.IsInRole(DS.Role_Admin))
                        {
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
                        }
            <div class="form-group">
                <label asp-for="Asunto" class="control-label"></label>
                <input asp-for="Asunto" class="form-control" />
                <span asp-validation-for="Asunto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label" localize-content>Description</label>
                <textarea id="description" asp-for="Descripcion" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Solucion" class="control-label"></label>
                <input asp-for="Solucion" class="form-control" />
                <span asp-validation-for="Solucion" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="FechaSolucion" class="control-label"></label>
                <input asp-for="FechaSolucion" class="form-control" />
                <span asp-validation-for="FechaSolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tecnico" class="control-label"></label>
                <input asp-for="Tecnico" class="form-control" />
                <span asp-validation-for="Tecnico" class="text-danger"></span>
            </div>*@
                       @if (User.IsInRole(DS.Role_Admin))
                        {
            <div class="form-group">
                <label asp-for="ImagenUrl" class="control-label"></label>
                <input asp-for="ImagenUrl" class="form-control" />
                <span asp-validation-for="ImagenUrl" class="text-danger"></span>
            </div>
                        }
@*            <div class="form-group">
                <label asp-for="EstadoTKId" class="control-label"></label>
                <select asp-for="EstadoTKId" class ="form-control" asp-items="ViewBag.EstadoTKId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="UrgenciaId" class="control-label"></label>
                <select asp-for="UrgenciaId" class ="form-control" asp-items="ViewBag.UrgenciaId"></select>
            </div>
                       @if (User.IsInRole(DS.Role_Admin))
            {
                <div class="form-group">
                    <label asp-for="AreaSoporteId" class="control-label"></label>
                    <select asp-for="AreaSoporteId" class ="form-control" asp-items="ViewBag.AreaSoporteId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="SedeId" class="control-label"></label>
                <select asp-for="SedeId" class ="form-control" asp-items="ViewBag.SedeId"></select>
            </div>
            }
           @* <div class="form-group">
                <label asp-for="UsuarioAlta" class="control-label"></label>
                <input asp-for="UsuarioAlta" class="form-control" />
                <span asp-validation-for="UsuarioAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioModifica" class="control-label"></label>
                <input asp-for="UsuarioModifica" class="form-control" />
                <span asp-validation-for="UsuarioModifica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAlta" class="control-label"></label>
                <input asp-for="FechaAlta" class="form-control" />
                <span asp-validation-for="FechaAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechamodifica" class="control-label"></label>
                <input asp-for="Fechamodifica" class="form-control" />
                <span asp-validation-for="Fechamodifica" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>*@



@*            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
*@
            <div class="row">
                <div class="col-md-6">
                    <input type="submit" value="Crear" class="btn btn-primary form-control" />
                </div>
                <div class="col-md-6">
                    <a class="btn btn-danger form-control" asp-action="Index">Cancelar</a>
                </div>
            </div>

        </form>
    </div>
</div>

<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

            <script>
            $(document).ready(function () {
                $('#description').summernote({
                    height: 300,
                });
            });

            $(document).ready(function () {
                bsCustomFileInput.init();
            });
        </script>
}



