@model mmc.Modelos.IglesiaModels.CEB_DET

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CEB_DET</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Cristianos" class="control-label"></label>
                <input asp-for="Cristianos" class="form-control" />
                <span asp-validation-for="Cristianos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoCistianos" class="control-label"></label>
                <input asp-for="NoCistianos" class="form-control" />
                <span asp-validation-for="NoCistianos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ninios" class="control-label"></label>
                <input asp-for="Ninios" class="form-control" />
                <span asp-validation-for="Ninios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Convertidos" class="control-label"></label>
                <input asp-for="Convertidos" class="form-control" />
                <span asp-validation-for="Convertidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reconcilia" class="control-label"></label>
                <input asp-for="Reconcilia" class="form-control" />
                <span asp-validation-for="Reconcilia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ofrenda" class="control-label"></label>
                <input asp-for="Ofrenda" class="form-control" />
                <span asp-validation-for="Ofrenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEBid" class="control-label"></label>
                <select asp-for="CEBid" class="form-control" asp-items="ViewBag.CEBid"></select>
                <span asp-validation-for="CEBid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioModifica" class="control-label"></label>
                <input asp-for="UsuarioModifica" class="form-control" />
                <span asp-validation-for="UsuarioModifica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAlta" class="control-label"></label>
                <input asp-for="FechaAlta" class="form-control" />
                <span asp-validation-for="FechaAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechamodifica" class="control-label"></label>
                <input asp-for="Fechamodifica" class="form-control" />
                <span asp-validation-for="Fechamodifica" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

    <div class="col-md-4 text-right">
        <button type="button" class="btn btn-info form-control" data-toggle="modal" data-target="#Mymodal">Modal</button>
    </div>


    <div class="modal fade" id="Mymodal" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data" asp-action="Create">
                    <div class="modal-header">
                        <h2 class="modal-title text-primary text-center">Este es el titulo</h2>
                        <button type="button" class="close" data-dismiss="modal">&tilde;</button>
                    </div>
                    <div class="modal-body">
                        <div style="padding-left:15%; padding-right:15%;padding-bottom:30px;">
                            <div class="row p-3 border-0">
                                <div class="text-danger" asp-validation-summary="ModelOnly"> </div>
                            </div>

                            <div class="form-row" style="padding-top:14px;">
                                <div class="form-group col-md-6">
                                    <label>nombres</label>

                                </div>
                                <div class="form-group col-md-6">
                                    <label>Codigo</label>

                                </div>
                                <div class="form-group col-md-6">
                                    <label>CELULAR</label>


                                </div>

                                <div class="form-group">
                                    <label asp-for="NoCistianos" class="control-label"></label>
                                    <input asp-for="NoCistianos" class="form-control" />
                                    <span asp-validation-for="NoCistianos" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success">OK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>